<!doctype html>
<!--[if lt IE 7]> <html class="wine_product_page preload no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="wine_product_page preload no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="wine_product_page preload no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="wine_product_page preload no-js" lang="en"> <!--<![endif]-->
	<head>
		<%= render :region => 'head_meta' %>
		<title><%= title %></title>
		<%= render :region => 'css' %>

		


	</head><!--======================================================
		firstchoice_wine_selector_v2
		FEATURE_wine_product_page (best buys)
	=======================================================--><body>

		<div id="container" class="container" >

				<div class="blocks_notes template_name">
					<p>Feature Wine Page Template (Best Buys Wines)</p>
				</div>

				<!-- price range done via calculation in ruby -->
				

				<!-- red, white, sparkling/champagne -->
				<div class="blocks_notes">
					<p>Basic classification</p>
				</div>
				<div class="blocks_notes type_2">
					<p>Please specify this wine's basic classification.</p>
				</div>
				<div class="classification"><%= render :set => "classification", :values => [ [ 'Red', :red ], [ 'White', :white ], [ 'Sparkling / Champagne', :sparkling_champagne ] ] %></div>



				<!-- sweet dry 1-5 -->
				<div class="blocks_notes">
					<p>Sweetness</p>
				</div>
				<div class="blocks_notes type_2">
					<p>Please rate this wine's sweetness from 1 to 5.<br/>1 being the sweetest and 5 the driest.</p>
				</div>
				<div class="sweetness"><%= render :set => "sweetness", :values => [ [ '1', 1 ], [ '2', 2 ], [ '3', 3 ], [ '4', 4 ], [ '5', 5 ] ] %></div>



				<!-- light full-body 1-5 -->
				<div class="blocks_notes">
					<p>Body</p>
				</div>
				<div class="blocks_notes type_2">
					<p>Please rate this wine's body from 1 to 5.<br/>1 being the lightest and 5 the most full-bodied.</p>
				</div>
				<div class="body_weight"><%= render :set => "body_weight", :values => [ [ '1', 1 ], [ '2', 2 ], [ '3', 3 ], [ '4', 4 ], [ '5', 5 ] ] %></div>




				<div class="blocks_notes">
					<p>Wine basic details</p>
				</div>
				

				<div class="blocks_notes type_2">
					<p>Wine name</p>
				</div>
				<span class="heading"><%= render :textual => 'wine_heading', :default => 'Wine name', :maxlength => '200' %></span>

				<div class="blocks_notes type_2">
					<p>Wine type eg.'Chardonnay'</p>
				</div>
				<span class="sub_heading"><%= render :textual => 'wine_sub_heading', :default => 'Wine type', :maxlength => '200' %></span>

				<div class="blocks_notes type_2">
					<p>Wine volume and year eg.'750mL 2010'</p>
				</div>
				<span class="detail"><%= render :textual => 'wine_detail', :default => '750mL 2010', :maxlength => '200' %></span>

				<div class="blocks_notes type_2">
					<p>Wine description, short paragraph.</p>
				</div>
				<span class="wine_description"><%= render :textual => 'wine_description', :type => :multi, :wysiwyg => false, :default => "This wine has..." %></span>

				

		


				<div class="blocks_notes">
					<p>Wine price [ each ]</p>
				</div>

				<div class="each">
					<div class="blocks_notes type_2">
						<p>Text to explain the following price is for each individual bottle or product. eg.'each'</p>
					</div>
					<span class="text"><%= render :textual => 'wine_each_text', :default => 'each', :maxlength => '5' %></span>

					<div class="blocks_notes type_2">
						<p>Currency symbol</p>
					</div>
					<span class="dollar"><%= render :textual => 'wine_each_dollar', :default => '$', :maxlength => '1' %></span>

					<div class="blocks_notes type_2">
						<p>Dollar value</p>
					</div>
					<span class="dollar_value"><%= render :textual => 'wine_each_dollar_value', :default => '10', :maxlength => '3' %></span>

					<div class="blocks_notes type_2">
						<p>Cents value</p>
					</div>
					<span class="cents_value"><%= render :textual => 'wine_each_cents_value', :default => '90', :maxlength => '2' %></span>
				</div>





				<!-- <div class="blocks_notes">
					<p>Wine price [ was ]</p>
				</div>

				<div class="was">
					<div class="blocks_notes type_2">
						<p>Currency symbol</p>
					</div>
					<span class="dollar"> = render :textual => 'wine_was_dollar', :default => '$', :maxlength => '1'  </span>

					<div class="blocks_notes type_2">
						<p>Dollar value</p>
					</div>
					<span class="dollar_value"> = render :textual => 'wine_was_dollar_value', :default => '10', :maxlength => '3'  </span>

					<div class="blocks_notes type_2">
						<p>Cents value</p>
					</div>
					<span class="cents_value"> = render :textual => 'wine_was_cents_value', :default => '90', :maxlength => '2'  </span>
				</div> -->






				<!-- <div class="blocks_notes">
					<p>Wine price [ save ]</p>
				</div>

				<div class="save">
					<div class="blocks_notes type_2">
						<p>Text to explain the following value is the saving for each individual bottle or product. eg.'save'</p>
					</div>
					<span class="text"> = render :textual => 'wine_save_text', :default => 'save', :maxlength => '5'  </span>

					<div class="blocks_notes type_2">
						<p>Currency symbol</p>
					</div>
					<span class="dollar"> = render :textual => 'wine_save_dollar', :default => '$', :maxlength => '1'  </span>

					<div class="blocks_notes type_2">
						<p>Dollar value</p>
					</div>
					<span class="dollar_value"> = render :textual => 'wine_save_dollar_value', :default => '4', :maxlength => '3'  </span>

					<div class="blocks_notes type_2">
						<p>Cents value</p>
					</div>
					<span class="cents_value"> = render :textual => 'wine_save_cents_value', :default => '90', :maxlength => '2'  </span>
				</div> -->







				<div class="blocks_notes">
					<p>Wine price [ deal price ]</p>
				</div>
			
				<div class="price">
					<div class="blocks_notes type_2">
						<p>Currency symbol</p>
					</div>
					<span class="dollar"><%= render :textual => 'wine_deal_price_dollar', :default => '$', :maxlength => '1' %></span>

					<div class="blocks_notes type_2">
						<p>Dollar value</p>
					</div>
					<span class="dollar_value"><%= render :textual => 'wine_deal_price_dollar_value', :default => '10', :maxlength => '3' %></span>

					<div class="blocks_notes type_2">
						<p>Cents value</p>
					</div>
					<span class="cents_value"><%= render :textual => 'wine_deal_price_cents_value', :default => '90', :maxlength => '2' %></span>
				</div>


				<div class="blocks_notes">
					<p>Wine deal info</p>
				</div>
				<div class="blocks_notes type_2">
					<p>Details about the pricing deal, split over 2 lines.</p>
				</div>
				<span class="price_info line_1"><%= render :textual => 'wine_deal_info_line_1', :default => 'in any 6', :maxlength => '13' %></span>
				<span class="price_info line_2"><%= render :textual => 'wine_deal_info_line_2', :default => 'bottle buy', :maxlength => '13' %></span>


				
				


				<div class="blocks_notes">
					<p>Wine image</p>
				</div>
				<div class="blocks_notes type_2">
					<p>Please choose a pre-prepared PNG image. The total image dimensions including all transparancy must be exactly 225px X 730px.</p>
				</div>
				<div class="wine_image">
					<%= render :image => 'wine_image', :default => "/templates/firstchoice_wine_selector_v2/img/bottle_gray.png", :width => "225", :height => "730" %>
				</div>



				<div class="blocks_notes warning_type_2">
					<p>! IMPORTANT</p>
					<p>Now, please save and approve. You should preview the page to ensure details appear correctly. To publish changes you have just made to this site you must click the 'edit navigation' button and then 'save and publish'</p>
				</div>
			
		
			
		</div> <!-- end of #container -->



		
		<%= render :region => 'helpers' %>
		<%= render :region => 'javascript' %>
	</body>
</html>
