body.edit .blocks_notes {
	padding: 10px;
	margin: 70px 0 10px 0;
	color: #fff;
	background-color: #39c;
	border: 2px solid #1E6081;
	border-radius: 5px;
	font-size: 16px;
	width: 310px;
	clear: both;
}

body.edit .blocks_notes:first-child
{
	margin-top: 30px;
}

body.edit .blocks_notes.warning_type_2
{
	width: 700px;
	height: 140px;
	background-color: #890000;
	border: 2px solid red;
	border-radius: 10px;
}

body.edit .blocks_notes p {
	margin: 0;
	padding: 0;
}

body.edit .blocks_notes.type_2 {
  padding: 5px;
  padding-bottom: 9px;
  margin: -5px 0 0px 0;
  color: #fff;
  background-color: #2C363C;
  border: 2px solid #1E6081;
  border-radius: 5px;
  border-bottom: none;
  font-size: 14px;
  width: 310px;
}

body.edit .blocks_notes.top_margin
{
	margin-top: 55px;
}


body.edit .blocks_notes.type_3 {
  
  padding-bottom: 29px;
}

body.edit form .blocks_notes.type_3 p {
  color: white;
}

body.edit .blocks_info_image
{
	display: block;
	
	clear: both;
}


body.edit .blocks_notes.template_name
{
	margin: 30px 0 110px 0;
	background-color: #75996b;
}







/*
	BLOCKS HELPER CSS
*/

/* stretches text regions to full width */
body.edit div#blocks-wrapper div#inner-blocks-wrapper textarea {
	width: 100%;
}


/*
	these rules will show max/min image dimensions on image regions using the existing
*/
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element {
	position: absolute;
	top: 0;
	left: 125px;
	background: white;
	font-size: 11px;
	line-height: 1em;
	padding: 5px 5px 6px 5px;
	margin: 1px;
	display: block;
	z-index: 999999;
}
.ie7 body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element { display: none; }

body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .width,
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .height,
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .asset-id { 	display: none; }

body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width { }
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width:before { content: 'Min.: '; }
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width:after { content: ' x'; }

body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-height { }
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-height:after { content: 'px'; }

body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width { }
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width:before { content: 'Max.: '; }
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width:after { content: ' x'; }

body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-height { }
body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-height:after { content: 'px'; }


/* shows page url bottom right in edit mode */
#page_url_helper {
	text-align: center;
	position: fixed;
	background: #333;
	bottom: 0;
	right: 0;
	z-index: 9999;
	color: white;
	font-size: 10px;
	padding: 3px 10px;
	border-radius: 3px 0 0 0;
	-webkit-box-shadow: 0 0 5px 0 #999;
	   -moz-box-shadow: 0 0 5px 0 #999;
	        box-shadow: 0 0 5px 0 #999;
}
#page_url_helper a {
	color: white;
}




.product_page body.edit .container,
.product_page body.edit .main
{
	height: 2000px;
}

body.edit div#blocks-wrapper div#inner-blocks-wrapper div.text-region-wrapper 
{
	font-size: 14px;
}


body.edit .toggle_content
{
	display: block;
	height: 500px;
	padding: 0px;
}

body.edit .product_banner
{
	height: 750px;
	background-image: none;
	background-color: black;
}

body.edit .product_banner .blocks_notes
{
	width: 200px;
}


body.edit div#blocks-wrapper div#inner-blocks-wrapper .toggle_content div.text-region-wrapper 
{
	width: 670px;
}

body.edit div#blocks-wrapper div#inner-blocks-wrapper .toggle_content div.text-region-wrapper .editable_region
{
	width: 597px;
}

body.edit div#blocks-wrapper div#inner-blocks-wrapper .toggle_content div.repeatable-container
{
	width: 700px;
}

body.edit div#blocks-wrapper div#inner-blocks-wrapper .toggle_content div.repeatable-area
{
	width: 686px;
}


body.edit .main_footer_type_2
{
	bottom: auto;
	margin-top: 20px;
}


.product_page body.edit .black_banner
{
	display: block;
	height: 490px;
	background-image: none;
	background-color: black;
}

.product_page body.edit .black_banner .nav_button_medium
{
	display: none;
}



.product_page body.edit .black_banner .image_div
{
	left: 482px;
}


body.edit .product_category_class
{
	display: block;
}

body.edit .chalk_banner .rotate_1 .light,
body.edit .chalk_banner .rotate_1 .heavy
{
	display: inline-block;
}

body.edit .chalk_banner .rotate_1 input.editable_region
{
	width: 100px;
}


.wine_product_page body.edit .container
{
	background-image: none;
	padding-left: 20px;
	padding-bottom: 3100px;
}

.wine_product_page.wine_selector_data body.edit .container
{
	padding-bottom: 3280px;
}



body.edit .set-region-wrapper
{
	margin: 10px 10px 50px 10px;
}

body.edit .set-region-wrapper select
{
	width: 200px;
	font-size: 24px;
}

html body.edit div#blocks-wrapper div#inner-blocks-wrapper div.text-region-wrapper
{
	margin: 1px 0px 20px 0px;
	position: relative;

}


html body.edit div#blocks-wrapper div#inner-blocks-wrapper div.text-region-wrapper .editable_region
{
	width: 318px;
	font-size: 20px;
}

html body.edit div#blocks-wrapper div#inner-blocks-wrapper div.text-region-wrapper input[disabled="disabled"]
{
	border: none;
	color: gray;
	margin-left: 6px;
	position: relative;
	display: inline-block;
	top: -9px;
	font-size: 12px;
}

html body.edit div#blocks-wrapper div#inner-blocks-wrapper div.text-region-wrapper:after
{
	content: "characters";
	color: gray;
	display: block;
	position: absolute;
	font-size: 12px;
	width: 100px;
	height: 20px;
	left: 333px;
	top: 18px;
	z-index: 99;
}



html body.edit div#blocks-wrapper div#inner-blocks-wrapper a.mini_blocks
{
	font-size: 24px;
	top: 20px;
	width: 235px !important;
}

html body.edit div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element 
{
	top: 2px;
	left: 0px;
}




body.edit *
{
	-webkit-touch-callout: text;
      -webkit-user-select: text;
       -khtml-user-select: text;
         -moz-user-select: text;
          -ms-user-select: text;
              user-select: text;

              -webkit-tap-highlight-color: rgba(0,0,0,0);
               /*-webkit-tap-highlight-color: red;*/
              /*border: 1px solid red;*/

    cursor: auto;
}



