article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family:"FuturaStd-book","Arial",sans-serif; color: #222; }

::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }
::selection { background: #ccc; color: #fff; text-shadow: none; }

a { color: #00e; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: none; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



body {
	padding: 0px;
	margin: 0px;
	font-family: "FuturaStd-book","Arial",sans-serif;
	font-weight: 400; /*400=normal 500=book 700=bold*/
	overflow: hidden;
}

a { color: #00e; }
a:visited { color: #551a8b; }

ul, ol { margin: 0px; padding: 0; list-style: none }

/*Form Styles*/
form em { 
	display: block;
	height: 0px;
	overflow: hidden;
}
form label.error {
	color: red;
}


/*======================= NON GENERIC ===========================>*/



/* ------------ FONTS ------------- start */

/*
This CSS resource incorporates links to font software which is
the valuable copyrighted property of Monotype Imaging and/or
its suppliers. You may not attempt to copy, install, redistribute, convert,
modify or reverse engineer this font software. Please contact Monotype Imaging
with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/

@font-face {
	font-family:"dearJoe";
	src:url("../fonts/DEARJOEFC.ttf") format("truetype");
}

@font-face {
	font-family:"stRyde-regular";
	src:url("../fonts/StRyde-Regular.otf") format("opentype");
}

@font-face {
	font-family:"stRyde-bold";
	src:url("../fonts/StRyde-Bold.otf") format("opentype");
}

@font-face {
	font-family:"FuturaStd-book";
	src:url("../fonts/FuturaStd-Book.otf") format("opentype");
}

@font-face {
	font-family:"FuturaStd-bold";
	src:url("../fonts/FuturaStd-Bold.otf") format("opentype");
}

@font-face {
	font-family:"FuturaStd-Heavy";
	src:url("../fonts/FuturaStd-Heavy.otf") format("opentype");
}


/* ------------ FONTS -------------- end */





h1,
h2,
h3,
h4,
h5,
h6,
p
{
	padding: 0px;
	margin: 0px;
}

.sprite
{
	background-image: url(../img/wine_selector_sprite.png);
	background-repeat: no-repeat;
}

.noselect,
body *
{
	-webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

              -webkit-tap-highlight-color: rgba(0,0,0,0);
               /*-webkit-tap-highlight-color: red;*/
              /*border: 1px solid red;*/

    cursor: default;
}


.ccsBgAni
{
	/* The delay speed may be altered in js */
	-webkit-transition: background-color 1200ms linear;
       -moz-transition: background-color 1200ms linear;
         -o-transition: background-color 1200ms linear;
        -ms-transition: background-color 1200ms linear;
            transition: background-color 1200ms linear;
}

.transitionAll
{
    -webkit-transition:all 0.8s ease-in-out;
       -moz-transition:all 0.8s ease-in-out;
         -o-transition:all 0.8s ease-in-out;
            transition:all 0.8s ease-in-out;

            /*should include*/
            /*-webkit-transition: -webkit-transform 800ms;*/
}

.transitionAll_half
{
    -webkit-transition:all 0.4s ease-in-out;
       -moz-transition:all 0.4s ease-in-out;
         -o-transition:all 0.4s ease-in-out;
            transition:all 0.4s ease-in-out;
}


/*.transitionSome_1
{
    -webkit-transition-property: top, left, bottom, right, rotate;
  	 -webkit-transition-duration: 0.8s, 0.8s, 0.8s, 0.8s, 0.8s;

    
}*/

/*.transitionAll_2
{
	 -webkit-transition-property: top, left, bottom, right;
  	 -webkit-transition-duration: 0.8s, 0.8s, 0.8s, 0.8s;
  	 -webkit-transition-delay: 0s, 0.8s, 0s, 0.8s;
}*/


.container
{
	overflow: hidden;

	width: 1024px;
	height: 768px;
	position: relative;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}




.main,
.wine_page,
.wine_selection_page_1,
.sign_up_form_page,
.meet_matt_page
{
	width: 1024px;
	height: 768px;
	
	position: absolute;
	z-index: 6;
	
}

.main
{
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.wine_page
{
	left: -1024px;
	top: 0px;
	overflow: hidden;

	opacity: 0;

	 -webkit-transition-property: left, opacity;
  	 -webkit-transition-duration: 0s, 0.8s;
  	 -webkit-transition-delay: 0.8s, 0s;

	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.wine_page.show
{
	opacity: 1;
	left: 0px;

	 -webkit-transition-property: left, opacity;
  	 -webkit-transition-duration: 0s, 0.8s;
  	 -webkit-transition-delay: 0s, 0s;

	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.sign_up_form_page
{
	left: 0px;
	top: 0px;
	overflow: hidden;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	z-index: 8;
	/*opacity: 0;*/

	display: none;
	/* -webkit-transition-property: -webkit-transform, opacity;
  	 -webkit-transition-duration: 0s, 0.8s;
  	 -webkit-transition-delay: 0.8s, 0s;

	-webkit-transform: rotate(0deg) translate(-1024px, 0px) scale(1) translateZ(0px);*/
}

.sign_up_form_page.show
{
	/*opacity: 1;*/

	/* -webkit-transition-property: -webkit-transform, opacity;
  	 -webkit-transition-duration: 0s, 0.8s;
  	 -webkit-transition-delay: 0s, 0s;

	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);*/
	display: block;
}


.meet_matt_page
{
	left: -1024px;
	top: 0px;
	overflow: hidden;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	z-index: 8;
	opacity: 0;

	 -webkit-transition-property: left, opacity;
  	 -webkit-transition-duration: 0s, 0.8s;
  	 -webkit-transition-delay: 0.8s, 0s;

	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.meet_matt_page.show
{
	opacity: 1;
	left: 0px;

	 -webkit-transition-property: left, opacity;
  	 -webkit-transition-duration: 0s, 0.8s;
  	 -webkit-transition-delay: 0s, 0s;

	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}




.wine_selection_page_1
{
	left: 0px;
	top: 768px;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.wine_selection_page_1.show
{
	-webkit-transform: rotate(0deg) translate(0px, -768px) scale(1) translateZ(0px);
}





.chalk_back
{
	width: 1024px;
	height: 590px;
	background-image: url(../img/chalk_background.png);
	background-repeat: no-repeat;
	position: absolute;
	z-index: 5;
	left: 0px;
	top: 0px;
}

.chalk_back.position_1
{
	-webkit-transform: rotate(0deg) translate(0px, 577px) scale(1) translateZ(0px);
}

.chalk_back.position_1.lower
{
	-webkit-transform: rotate(0deg) translate(0px, 648px) scale(1) translateZ(0px);
}

.chalk_back.out_1
{
	-webkit-transform: rotate(0deg) translate(0px, 1190px) scale(1) translateZ(0px);
}

.chalk_back.position_2
{
	-webkit-transform: rotate(0deg) translate(0px, 84px) scale(1) translateZ(0px);
}

.chalk_banner
{
	height: 102px;
	position: absolute;
}

.chalk_banner.size_1
{
	width: 454px;
	background-position: 0px -167px;
}

.chalk_banner.size_1.position_1
{
	left: 7px;
	top: 17px;
}

.chalk_banner.size_1.position_1.out_1,
.chalk_banner.size_2.position_2.out_1
{
	/*left: -27px;
	top: -170px;*/
	-webkit-transform: rotate(-5.12deg) translate(-27px, -470px) scale(1) translateZ(0px);
    
}

.chalk_banner.size_2
{
	width: 489px;
	background-position: 0px -269px;
}

.chalk_banner.size_2.position_2
{
	left: 7px;
	top: 17px;
	z-index: 7;
}

.chalk_banner.size_4.position_1
{
	width: 531px;
	height: 103px;
	background-position: 0px -472px;
	left: 50px;
	top: 46px;
	z-index: 2;
}

.chalk_banner.size_3.position_1
{
	width: 511px;
	height: 102px;
	background-position: 0px -370px;
	left: 7px;
	top: 14px;
	z-index: 2;
}





.chalk_banner .light
{
	font-family:"stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 41px;
	line-height: 0.92;
	color: #71b2c9;
	margin: 5px;

	-webkit-font-smoothing: antialiased;
}

.chalk_banner .heavy
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 40px;
	line-height: 0.94;
	color: #bcc600;
	margin: 5px;

	-webkit-font-smoothing: antialiased;
}


.chalk_banner .rotate_1
{
	display: block;
	text-align: center;
	margin-top: 30px;
	
	-webkit-transform: rotate(-2.12deg) translate3D(0, 0, 0); /* Safari 3.1+, Chrome */
      
}

.chalk_banner.size_4 .rotate_1
{
	margin-top: 32px;
}



.blue_button
{
	background-image: url(../img/buttons.png);
	background-repeat: repeat-x;
	position: relative;
	white-space: nowrap;
}

.blue_button:active span:first-child:after
{
	content: "";
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	padding-left: 21px;
	padding-right: 21px;
	left: -21px;


	-webkit-border-radius: 18px;

	-webkit-box-shadow: inset 0 0 25px #0c4e65;
}


.blue_button .click_region
{
	position: absolute;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	padding-left: 21px;
	padding-right: 21px;
	left: -21px;

	-webkit-border-radius: 18px;
}



.blue_button.type_1
{
	height: 62px;
	background-position: 0px -161px;
}

.blue_button.type_1:before
{
	content: "";
	background-image: url(../img/buttons.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 62px;
	background-position: 0px -98px;
	position: absolute;
	left: -21px;
	top: 0px;
}

.blue_button.type_1:after
{
	content: "";
	background-image: url(../img/buttons.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 62px;
	background-position: -454px -98px;
	position: absolute;
	right: -21px;
	top: 0px;
}


.blue_button .light
{
	font-family:"stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 27px;
	line-height: 2.54;
	color: white;
	margin: 5px;

	text-shadow: 0px -2px 0px #558597;

	-webkit-font-smoothing: antialiased;
}

.blue_button .medium
{
	font-family:"stRyde-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 27px;
	line-height: 2.54;
	color: white;
	margin: 22px;

	text-shadow: 0px -2px 0px #558597;

	-webkit-font-smoothing: antialiased;
}

.blue_button .heavy
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 26px;
	line-height: 2.54;
	color: white;
	margin: 5px;

	text-shadow: 0px -2px 0px #558597;

	-webkit-font-smoothing: antialiased;
}


.sign_up_button
{
	position: absolute;
	top: 16px;
	right: 33px;
	width: auto;
	cursor: pointer;
}

.sign_up_button.out_1
{
	/*right: 43px;
	top: -90px;*/
	-webkit-transform: rotate(-4.12deg) translate(-43px, -140px) scale(1) translateZ(0px);
}


.meet_matt_button
{
	position: absolute;
	bottom: 17px;
	right: 30px;
	width: auto;
	cursor: pointer;
	z-index: 8;
}

.meet_matt_button.out_3
{
	-webkit-transform: rotate(-4.12deg) translate(0px, 140px) scale(1) translateZ(0px);
}

.mail_icon
{
	width: 49px;
	height: 36px;
	display: inline-block;
	position: relative;
	background-position: -791px -149px;
	margin-left: 7px;
	top: 4px;
}

.back_icon
{
	width: 36px;
	height: 34px;
	display: inline-block;
	position: relative;
	background-position: -800px -90px;
	margin-left: 7px;
	top: 8px;
}


.fade
{
	background-color: black;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 0;
}

.fade.out_1
{
	opacity: 0.85;
}

.signup_page_fade,
.meet_matt_page_fade
{
	background-color: black;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 0.85;
}


.white_back
{
	background-color: white;
	position: absolute;
	opacity: 1;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 768px;

    -webkit-box-shadow: 0px -5px 5px rgba(0,0,0,0.4);
    -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.white_back.position_1
{
  	 -webkit-transform: rotate(0deg) translate(0px, 96px) scale(1) translateZ(0px);
}


.white_back.position_1.out_1
{
	/*left: 20px;
	top: 20px;
	bottom: 20px;
	right: 20px;*/

	 -webkit-box-shadow: none;

	 /*-webkit-transition-property: top, left;*/
  	 -webkit-transition-duration: 0.8s;
  	 /*-webkit-transition-delay: 0s, 0.8s;*/
  	 -webkit-transform: rotate(0deg) translate(0px, 0px) scaleX(0.9598) scaleY(0.945) translateZ(0px);

	 
}

.white_back.position_2
{
	opacity: 0;
  	 -webkit-transform: rotate(0deg) translate(0px, -770px) scale(1) translateZ(0px);
}

.white_back.position_3
{
	opacity: 0;
  	 -webkit-transform: rotate(0deg) translate(0px, 570px) scale(1) translateZ(0px);
}


.chalk_text
{
	position: absolute;
	z-index: 7;
}

.chalk_text.position_1
{
	left: 238px;
	bottom: 36px;
}

.chalk_text.position_1.out_1
{
	/*bottom: -270px;*/
	-webkit-transform: rotate(-30.12deg) translate(-40px, 770px) scale(1) translateZ(0px);
}

.chalk_text.position_1.block_special_panel_settings
{
	-webkit-transform: rotate(-30.12deg) translate(-40px, 770px) scale(1) translateZ(0px);
}

.chalk_text .line_1,
.chalk_text .line_2
{
	font-family:"dearJoe";
	font-style: normal;
	font-weight: 500;
	font-size: 39px;
	line-height: 0.94;
	color: white;
	margin: 5px;
	display: block;

	/*letter-spacing: 1px;*/

	-webkit-font-smoothing: antialiased;
}

.kern_left
{
	width: 1px;
	position: relative;
	left: -6px;
}







.matt
{
	width: 393px;
	height: 499px;
	background-position:  -631px -525px;
	z-index: 7;

	 -webkit-transition: -webkit-transform 800ms;
}


.matt.position_1
{
	position: absolute;
	bottom: -115px;
	left: -60px;

	-webkit-transform: translate(0px, 0px) scale(0.72) scaleX(-1) translateZ(0px);

}


.matt.position_2
{
	position: absolute;
	bottom: -45px;
	right: -42px;
	-webkit-transition-delay: 0.2s;
	-webkit-transform: translate(0px, 0px) scale(0.83) scaleX(1) translateZ(0px);
}

.matt.position_2.out_3
{
	-webkit-transform: translate(0px, 500px) scale(0.8) scaleX(1) translateZ(0px);
}


.meet_matt_page .matt.position_3
{
	position: absolute;
	bottom: -45px;
	right: -42px;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.2s;
	-webkit-transform: translate(0px, 0px) scale(0.83) scaleX(1) translateZ(0px);
}

.meet_matt_page.show .matt.position_3
{
	position: absolute;
	bottom: -45px;
	right: -42px;
	-webkit-transition-delay: 0.4s;
	-webkit-transition-duration: 0.8s;
	-webkit-transform: translate(-14px, -45px) scale(1) scaleX(1) translateZ(0px);
}

.matt.position_1.speech
{
	-webkit-transform: translate(31px, -82px) scale(1) scaleX(-1) translateZ(0px);
}

.matt.position_1.out_1,
.matt.position_1.speech.out_1
{
	-webkit-transform: translate(0px, 395px) scale(0.72) scaleX(-1) translateZ(0px);
}

.matt.position_4
{
	width: 246px;
	height: 266px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-image: url(../img/matt_2.png);
	background-position: 0px 0px;

	-webkit-transition-delay: 0.5s;
}

.matt.position_4.out_1
{
	-webkit-transition-delay: 0s;
	-webkit-transform: translate(0px, 280px) scale(0.94) translateZ(0px);
}

.matt.position_5
{
	background-image: url(../img/matt_5.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 378px;
	height: 563px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.matt.position_5.out_1
{
	-webkit-transition-delay: 0s;
	-webkit-transform: translate(-280px, 700px) scale(1) translateZ(0px);
}






.click_area_for_wine_selector
{
	width: 1024px;
	height: 577px;
	position: absolute;
	z-index: 7;
	left: 0px;
	bottom: 0px;
	-webkit-transform: translate(0px, 0px) scale(1) scaleX(1) translateZ(0px);
}

.click_area_for_wine_selector.out_1
{
	-webkit-transform: translate(0px, 700px) scale(1) scaleX(1) translateZ(0px);
}





.main_wine_selector_button
{
	width: 576px;
	height: 122px;
	background-image: url(../img/large_green_button.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position: absolute;
	top: 507px;
	left: 400px;
	z-index: 7;
	text-align: center;
	cursor: pointer;
	border-radius: 22px;

	-webkit-transition-delay: 0s;
	-webkit-transition: -webkit-transform 0.7s ease-in-out;
}

.main_wine_selector_button.out_1

{
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-webkit-transform: translate(1700px, 0px) scale(1) scaleX(1) translateZ(0px);
}

.main_wine_selector_button:active,
.main_wine_selector_button.active
{
	-webkit-box-shadow: inset -2px -2px 25px rgba(0,0,0,0.5);

    -webkit-transition:all 0.1s ease-in-out;
       -moz-transition:all 0.1s ease-in-out;
         -o-transition:all 0.1s ease-in-out;
            transition:all 0.1s ease-in-out;

   
}

.main_wine_selector_button .light
{
	font-family:"stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 50px;
	line-height: 2.4;
	color: white;
	margin: 4px;

	text-shadow: 0px -2px 0px #8d9400;
	letter-spacing: -1px;

	-webkit-font-smoothing: antialiased;
}

.main_wine_selector_button .heavy
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 48px;
	line-height: 2.54;
	color: white;
	margin: 4px;

	text-shadow: 0px -2px 0px #8d9400;

	-webkit-font-smoothing: antialiased;
}



.green_button
{
	background-image: url(../img/buttons.png);
	background-repeat: no-repeat;
	width: 432px;
	height: 97px;
	position: absolute;
	z-index: 7;
	text-align: center;
	cursor: pointer;

	-webkit-border-radius: 18px;
}

.green_button:active,
.green_button.active
{
	-webkit-box-shadow: inset 0 0 25px black;

    -webkit-transition:all 0.1s ease-in-out;
       -moz-transition:all 0.1s ease-in-out;
         -o-transition:all 0.1s ease-in-out;
            transition:all 0.1s ease-in-out;

   
}

.green_button.position_1
{
	right: 24px;
	bottom: 38px;
}

.green_button.position_1.out_1
{
	/*bottom: -340px;*/
	-webkit-transform: rotate(-34.12deg) translate(-40px, 970px) scale(1) translateZ(0px);
}

.green_button .light
{
	font-family:"stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 35px;
	line-height: 2.97;
	color: white;
	margin: 4px;

	text-shadow: 0px -2px 0px #8d9400;
	letter-spacing: -1px;

	-webkit-font-smoothing: antialiased;
}

.green_button .heavy
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 35px;
	line-height: 2.97;
	color: white;
	margin: 4px;

	text-shadow: 0px -2px 0px #8d9400;

	-webkit-font-smoothing: antialiased;
}


.bottle_icon
{
	width: 37px;
	height: 43px;
	display: inline-block;
	position: relative;
	background-position: -763px -85px;
	margin-left: 10px;
	top: 10px;
}


.glasses_icon
{
	width: 73px;
	height: 62px;
	display: inline-block;
	position: relative;
	background-position: -919px -154px;
	margin-left: 7px;
	top: 13px;
}


.bottle_footer
{
	background-image: url(../img/bottle_tops.png);
	background-repeat: no-repeat;
	width: 688px;
	height: 45px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 5;
}

.bottle_footer.out_1
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.5s;
	-webkit-transform: rotate(0deg) translate(0px, 100px) scale(1) translateZ(0px);
}


.pointer_item
{
	position: absolute;
	top: 127px;
	left: 58px;
	width: 930px;
	height: 400px;

	-webkit-transition-duration: 0.7s;
	-webkit-transition-delay: 0.2s;
}


.pointer_item.out_1
{
	
	-webkit-transform: rotate(0deg) translate(900px, 0px) scale(0.8) translateZ(0px);
}





.gallery_1
{
	width: 1024px;
	height: 459px;
	position: absolute;
	top: 120px;
	/*overflow: hidden;*/

	-webkit-transition-delay: 0.5s;
	-webkit-transition-duration: 0.5s;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.gallery_1.out_1
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.5s;
	-webkit-transform: rotate(0deg) translate(0px, 90px) scale(0.1) translateZ(0px);
	opacity: 0;
}


.gallery_1 .gallery_item
/*.gallery_1 .gallery_item.right*/
{
	width: 1024px;
	height: 450px;
	/*overflow: hidden;*/
	position: absolute;
	top: 0px;
	
	-webkit-transform: translate(1024px, 0px) scale(1) translateZ(0px);
}

.gallery_1 .gallery_item.slide
{
	-webkit-transition: -webkit-transform 800ms;
}


.gallery_1 .gallery_item.current
{
	-webkit-transform: translate(0px, 0px) scale(1) translateZ(0px);
}

.gallery_1 .gallery_item.left
{
	-webkit-transform: translate(-1024px, 0px) scale(1) translateZ(0px);
}

.gallery_1 img
{
	position: absolute;
	left: 585px;
	top: 0px;
	width: 130px;
	height: auto;
}


.gallery_1 .more_about
{
	position: relative;
	top: 108px;
	left: 163px;
	width: 293px;
	cursor: pointer;
	white-space: nowrap;
}

.gallery_nav_wrap
{
	display: none;
}

.gallery_nav
{
	width: 84px;
	height: 83px;
	cursor: pointer;
}

.gallery_nav:active:after
{
	content: "";
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	left: 0px;


	-webkit-border-radius: 38px;

	-webkit-box-shadow: inset 0 0 25px #5d6700;
}

.gallery_nav.left
{
	background-position: -751px 0px;
}


.gallery_nav.right
{
	background-position: -835px 0px;
}

.gallery_1 .gallery_nav.left
{
	position: absolute;
	left: 7px;
	top: 192px;
}

.gallery_1 .gallery_nav.right
{
	position: absolute;
	right: 7px;
	top: 192px;
}

.gallery_1 .squircle
{
	width: 262px;
	height: 269px;
	background-position: -526px -140px;
	position: absolute;
	top: 52px;
	left: 637px;
}






.price .kern_1
{
	letter-spacing: -10px;
	margin-left: -8px;
}

.price .cents_value .kern_1 
{
	letter-spacing: -7px;
	margin-left: -4px;
}

.price .cents_value.double_1 .kern_1
{
	letter-spacing: -3px;
}

.save .kern_1
{
	letter-spacing: -2px;
	margin-left: -2px;
}

.deal .kern_1
{
	letter-spacing: -7px;
	margin-left: -4px;
}

.deal .cents_value .kern_1 
{
	letter-spacing: -3px;
	margin-left: -2px;
}






.wine_page .squircle
{
	width: 262px;
	height: 269px;
	background-position: -526px -140px;
	position: absolute;
	top: 178px;
	left: 705px;
}


.squircle .price
{
	width: 100%;
	height: 70px;
	position: relative;
	margin-top: 33px;
	text-align: center;
}

.wine_page .squircle .price,
.gallery_1 .squircle .price
{
	margin-top: 22px;
	margin-left: -3px;
}

.squircle .price .dollar,
.squircle .price .dollar_value,
.squircle .price .cents_value
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 45px;
	line-height: 1;
	color: white;
	margin: 0px;

	-webkit-font-smoothing: antialiased;
}

.squircle .price .dollar_value
{
	font-size: 85px;
	position: relative;
	top: 29px;
	margin-left: -7px;
	letter-spacing: -2px;
	/*text-rendering: optimizeLegibility;*/
}

.squircle .price .text
{
	margin-left: 10px;
	margin-right: 5px;
	font-family: "stRyde-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 26px;
	line-height: 1;
	color: white;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	display: block;
	position: absolute;
	left: 168px;
	top: 80px;
}

.squircle .price .double_1 + .text
{
	left: 185px;
}





 /* ---------- over three figures >----------- */
.squircle .price.three_figures .dollar,
.squircle .price.three_figures .cents_value
{
	font-size: 40px;
	letter-spacing: -2px;
}

.squircle .price.three_figures .dollar
{
	letter-spacing: 1px;
}

.squircle .price.three_figures .text
{
	margin-left: 20px;
	margin-top: -7px;
}

.squircle .price.three_figures .dollar_value
{
	font-size: 76px;
	letter-spacing: -2px;
}
 /* ---------- over three figures <----------- */




.squircle .deal
{
	width: 121px;
	height: 120px;
	position: absolute;
	text-align: center;
}

.wine_page .squircle .deal,
.gallery_1 .squircle .deal
{
	top: 157px;
	left: 137px;
}

.squircle .deal .dollar,
.squircle .deal .dollar_value,
.squircle .deal .cents_value
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 22px;
	line-height: 1;
	color: white;
	margin: 0px;

	-webkit-font-smoothing: antialiased;
}

.squircle .deal .dollar_value
{
	font-size: 39px;
	position: relative;
	top: 12px;
	letter-spacing: -2px;
	margin-left: -4px;
	/*text-rendering: optimizeLegibility;*/
}

.squircle .deal .cents_value
{
	top: -1px;
	position: relative;
	margin-left: -2px;
}

.squircle .deal .text
{
	margin-left: 10px;
	margin-right: 5px;
	font-family: "stRyde-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 26px;
	line-height: 1;
	color: white;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	display: block;
	position: absolute;
	left: 168px;
	top: 80px;
}

.squircle .price_info
{
	font-family:"stRyde-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 1.1;
	color: white;
	margin: 0px;

	display: block;
	width: 100%;
	text-align: center;

	-webkit-font-smoothing: antialiased;
}

.squircle .price_info.line_1
{
	margin: 15px 0px 0px 0px;
}








.squircle .was
{
	width: 121px;
	height: 40px;
	position: absolute;
	text-align: center;
}

.wine_page .squircle .was,
.gallery_1 .squircle .was
{
	top: 137px;
	left: 17px;
}

.squircle  .was .dollar,
.squircle  .was .dollar_value,
.squircle  .was .cents_value
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 13px;
	line-height: 1;
	color: white;
	margin: 0px;

	-webkit-font-smoothing: antialiased;
}

.squircle .was .dollar_value
{
	font-size: 23px;
	position: relative;
	top: 6px;
	letter-spacing: -2px;
	margin-left: -4px;
	/*text-rendering: optimizeLegibility;*/
}

.squircle .was .cents_value
{
	top: -1px;
	position: relative;
	margin-left: -2px;
}

.squircle .was .was_strike_through
{
	width: 57px;
	height: 2px;
	background-color: white;
	position: absolute;
	left: 33px;
	top: 17px;
}









.squircle .save
{
	width: 121px;
	height: 70px;
	position: absolute;
	text-align: center;
}

.wine_page .squircle .save,
.gallery_1 .squircle .save
{
	top: 174px;
	left: 18px;
}

.squircle  .save .dollar,
.squircle  .save .dollar_value,
.squircle  .save .cents_value
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 13px;
	line-height: 1;
	color: white;
	margin: 0px;

	-webkit-font-smoothing: antialiased;
}

.squircle .save .dollar_value
{
	font-size: 23px;
	position: relative;
	top: 6px;
	letter-spacing: -2px;
	margin-left: -4px;
	/*text-rendering: optimizeLegibility;*/
}

.squircle .save .cents_value
{
	top: -1px;
	position: relative;
	margin-left: -2px;
}

.squircle .save .text
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 25px;
	line-height: 1;
	color: white;
	margin: 0px 0px -5px 0px;
	-webkit-font-smoothing: antialiased;
	display: block;
	position: relative;
	text-transform: uppercase;
}











.gallery_1 .gallery_item .heading
{
	font-family:"FuturaStd-Heavy";
	font-style: normal;
	font-weight: 200;
	font-size: 37px;
	line-height: 1.09;
	color: #1e1a1b;
	margin: 0px;

	position: relative;
	width: 455px;
	display: block;
	text-transform: uppercase;
	left: 145px;
	top: 45px;

	-webkit-font-smoothing: antialiased;
}

.gallery_1 .gallery_item .sub_heading
{
	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 31px;
	line-height: 1;
	color: #737373;
	margin: 0px;

	position: relative;
	display: block;
	left: 147px;
	top: 50px;

	-webkit-font-smoothing: antialiased;
}

.gallery_1 .gallery_item .detail
{
	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 24px;
	line-height: 1;
	color: #1e1a1b;
	margin: 0px;

	position: relative;
	display: block;
	left: 149px;
	top: 52px;

	-webkit-font-smoothing: antialiased;
}

.gallery_1 .inicator_area
{
	width: 500px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	bottom: 14px;
	text-align: center;
}

.gallery_1 .indicator_bar
{
	width: auto;
	height: 28px;
	background-image: url(../img/buttons.png);
	background-repeat: repeat-x;
	background-position: 0px -428px;
	position: relative;
	display: inline-block;
}



.indicator_bar:before
{
	content: "";
	background-image: url(../img/buttons.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 28px;
	background-position: 0px -398px;
	position: absolute;
	left: -21px;
	top: 0px;
}

.indicator_bar:after
{
	content: "";
	background-image: url(../img/buttons.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 28px;
	background-position: -454px -398px;
	position: absolute;
	right: -21px;
	top: 0px;
}

.indicator_bar .indicator
{
	width: 18px;
	height: 18px;
	background-position: -999px -19px;
	position: relative;
	float: left;
	margin: 5px 8px 8px 8px;

	z-index: 8;
	cursor: pointer;
}

.indicator_bar .indicator:active:after
{
	content: "";
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	z-index: 17;
	width: 18px;
	height: 18px;

	-webkit-border-radius: 10px;
   

	-webkit-box-shadow: inset 0 0 7px black;
}

.indicator_bar .indicator.current:active:after
{
	content: "";
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	z-index: 17;
	width: 18px;
	height: 18px;

	-webkit-border-radius: 10px;

	-webkit-box-shadow: inset 0 0 7px #033c50;
}

.indicator_bar .indicator:first-child
{
	margin-left: -11px;
}

.indicator_bar .indicator:last-child
{
	margin-right: -11px;
}

.indicator_bar .indicator.current
{
	background-position: -999px 0px;
}



















.wine_filter_gallery
{
	width: 1024px;
	height: 445px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	background-color: white;

	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.5s;
	-webkit-transform: rotate(0deg) translate(0px, 500px) scale(1) translateZ(0px);
}

.wine_filter_gallery.show
{
	-webkit-transition-delay: 0.5s;
	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.wine_filter_gallery .gallery_viewport
{
	width: 838px;
	height: 404px;
	position: absolute;
	left: 94px;
	top: 0px;
	overflow: hidden;
}

.wine_filter_gallery .gallery_slide_content
{
	width: 9999999px;
	/* will adjust width and position with js */
	height: 404px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transition:all 0.8s ease-in-out;
}

.wine_filter_gallery .panel
{
	width: 264px;
	height: 378px;
	border: 1px solid #e3e3e3;
	position: relative;
	display: block;
	float: left;
	margin: 15px 6px 15px 6px;
	overflow: hidden;
	-webkit-box-shadow: 2px 2px 5px #e3e3e3;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(77%,rgba(248,248,248,1)), color-stop(77%,rgba(253,253,253,1)), color-stop(100%,rgba(239,239,239,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 77%,rgba(253,253,253,1) 77%,rgba(239,239,239,1) 100%);
}

.wine_filter_gallery .panel:first-child
{
	/*margin-left: 102px;*/
}


.wine_filter_gallery .gallery_item
{
	width: 1024px;
	height: 445px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	text-align: center;
	
	-webkit-transform: translate(1024px, 0px) scale(1) translateZ(0px);
}

.wine_filter_gallery .gallery_item.slide
{
	-webkit-transition: -webkit-transform 800ms;
}


.wine_filter_gallery .gallery_item.current
{
	-webkit-transform: translate(0px, 0px) scale(1) translateZ(0px);
}

.wine_filter_gallery .gallery_item.left
{
	-webkit-transform: translate(-1024px, 0px) scale(1) translateZ(0px);
}

.wine_filter_gallery img
{
	position: absolute;
	left: 24px;
	top: 24px;
	width: 93px;
	height: auto;
}


.wine_filter_gallery .more_about
{
	position: absolute;
	top: 302px;
	left: 37px;
	width: auto;
	cursor: pointer;
	padding-left: 13px;
	padding-right: 13px;
}


.wine_filter_gallery .gallery_nav.left
{
	position: absolute;
	left: 7px;
	top: 163px;
}

.wine_filter_gallery .gallery_nav.right
{
	position: absolute;
	right: 7px;
	top: 163px;
}




.wine_filter_gallery .squircle
{
	width: 143px;
	height: 135px;
	background-position: 0px -699px;
	position: absolute;
	top: 12px;
	left: 71px;
}







.wine_filter_gallery .panel .heading
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 1;
	color: #1e1a1b;
	margin: 0px;
	width: 165px;

	position: relative;
	display: block;
	text-transform: capitalize;
	text-align: left;
	left: 94px;
	margin-top: 165px;

	-webkit-font-smoothing: antialiased;
}

.wine_filter_gallery .panel .sub_heading
{
	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 19px;
	line-height: 1;
	color: #737373;
	margin: 0px;

	position: relative;
	display: block;
	left: 94px;
	text-align: left;
	margin-top: 4px;
	width: 165px;

	-webkit-font-smoothing: antialiased;
}

.wine_filter_gallery .panel .detail
{
	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 14px;
	line-height: 1;
	color: #1e1a1b;
	margin: 0px;

	position: relative;
	display: block;
	text-align: left;
	left: 94px;
	margin-top: 4px;

	-webkit-font-smoothing: antialiased;
}


.wine_filter_gallery .inicator_area
{
	width: 500px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	bottom: 8px;
	text-align: center;
}

.wine_filter_gallery .indicator_bar
{
	width: auto;
	height: 28px;
	background-image: url(../img/buttons.png);
	background-repeat: repeat-x;
	background-position: 0px -428px;
	position: relative;
	display: inline-block;
}







.wine_filter_gallery .squircle .price
{
	width: 103px;
	height: 70px;
	position: relative;
	text-align: center;
	margin-top: 13px;
	margin-left: 4px;
}

.wine_filter_gallery .squircle .price .dollar,
.wine_filter_gallery .squircle .price .dollar_value,
.wine_filter_gallery .squircle .price .cents_value
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 23px;
	line-height: 1;
	color: white;
	margin: 0px;

	-webkit-font-smoothing: antialiased;
}

.wine_filter_gallery .squircle .price .dollar_value
{
	font-size: 41px;
	position: relative;
	top: 14px;
	margin-left: -7px;
	letter-spacing: -2px;
	/*text-rendering: optimizeLegibility;*/
}

.wine_filter_gallery .squircle .price.three_figures .dollar_value
{
	font-size: 36px;
	letter-spacing: -3px;
	top: 11px;
}

.wine_filter_gallery .squircle .price.three_figures .cents_value,
.wine_filter_gallery .squircle .price.three_figures .dollar
{
	font-size: 21px;
	margin-left: -3px;
}

.wine_filter_gallery .squircle .price.three_figures .text
{
	left: 76px;
	top: 31px;
}

.wine_filter_gallery .squircle .price .text
{
	margin-left: 10px;
	margin-right: 5px;
	font-family: "stRyde-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 14px;
	line-height: 1;
	color: white;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	display: block;
	position: absolute;
	left: 70px;
	top: 37px;
}

.wine_filter_gallery .squircle .price .double_1 + .text
{
	left: 75px;
}

.wine_filter_gallery .price .kern_1 
{
	letter-spacing: -6px;
	margin-left: -2px;
}

.wine_filter_gallery .price .double_1 .kern_1
{
	letter-spacing: -3px;
}

.wine_filter_gallery .squircle .deal
{
	width: 66px;
	height: 67px;
	position: absolute;
	text-align: center;
}


.wine_filter_gallery .squircle .deal
{
	top: 74px;
	left: 75px;
}

.wine_filter_gallery .squircle .deal .dollar,
.wine_filter_gallery .squircle .deal .dollar_value,
.wine_filter_gallery .squircle .deal .cents_value
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 14px;
	line-height: 1;
	color: white;
	margin: 0px;

	-webkit-font-smoothing: antialiased;
}

.wine_filter_gallery .squircle .deal .dollar_value
{
	font-size: 23px;
	position: relative;
	top: 6px;
	letter-spacing: -2px;
	margin-left: -4px;
	/*text-rendering: optimizeLegibility;*/
}

.wine_filter_gallery .squircle .deal.three_figures .dollar_value
{
	font-size: 20px;
	letter-spacing: -2px;
	top: 4px;
	margin-left: -5px;
}

.wine_filter_gallery .squircle .deal.three_figures .cents_value,
.wine_filter_gallery .squircle .deal.three_figures .dollar
{
	margin-left: -3px;
	font-size: 13px;
}


.wine_filter_gallery .squircle .deal .cents_value
{
	top: -1px;
	position: relative;
	margin-left: -2px;
}

.wine_filter_gallery .squircle .deal .text
{
	margin-left: 10px;
	margin-right: 5px;
	font-family: "stRyde-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 26px;
	line-height: 1;
	color: white;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	display: block;
	position: absolute;
	left: 168px;
	top: 80px;
}

.wine_filter_gallery .squircle .price_info
{
	font-family:"stRyde-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 11px;
	line-height: 1;
	color: white;
	margin: 0px;

	display: block;
	width: 100%;
	text-align: center;

	-webkit-font-smoothing: antialiased;
}

.wine_filter_gallery .squircle .price_info.line_1
{
	margin: 6px 0px 0px 0px;
}

.wine_filter_gallery .deal .dollar_value .kern_1 
{
	letter-spacing: -3px;
	margin-left: -3px;
}

.wine_filter_gallery .deal .dollar_value .kern_1:last-child
{
	margin-left: -1px;
}











.back_from_best_buy_page,
.launch_best_buy_page
{
	position: absolute;
	top: 15px;
	right: 33px;
}

.launch_best_buy_page.out_1
{
	-webkit-transform: rotate(-2.12deg) translate(-3px, -240px) scale(1) translateZ(0px);
}

.back_from_best_buy_page.out_1
{
	-webkit-transform: rotate(-2.12deg) translate(-3px, -140px) scale(1) translateZ(0px);
}


.back_from_meet_matt_page
{
	position: absolute;
	top: 15px;
	right: 33px;
}



.back_from_wine_page
{
	position: absolute;
	top: 38px;
	right: 58px;

}

.back_from_wine_selection_page_1
{
	position: absolute;
	top: 15px;
	right: 33px;

}

.wine_page img
{
	position: absolute;
	left: 607px;
	top: 67px;
	width: 225px;
	height: auto;
}


.wine_page > .heading
{
	font-family: "FuturaStd-Heavy";
	font-style: normal;
	font-weight: 200;
	font-size: 42px;
	line-height: 1;
	color: #1e1a1b;
	margin: 0px;

	position: relative;
	width: 570px;
	display: block;
	text-transform: uppercase;
	left: 65px;
	top: 124px;

	-webkit-font-smoothing: antialiased;
}

.wine_page > .sub_heading
{
	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 35px;
	line-height: 1;
	color: #737373;
	margin: 0px;

	position: relative;
	display: block;
	left: 65px;
	top: 123px;

	-webkit-font-smoothing: antialiased;
}

.wine_page > .detail
{
	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 24px;
	line-height: 1;
	color: #1e1a1b;
	margin: 0px;

	position: relative;
	display: block;
	left: 66px;
	top: 121px;

	-webkit-font-smoothing: antialiased;
}

.wine_page > .blurb
{
	font-family:"FuturaStd-book";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.2;
	color: #1e1a1b;
	margin: 0px;

	position: relative;
	display: block;
	left: 66px;
	top: 138px;
	width: 500px;

	-webkit-font-smoothing: antialiased;
}

.link_to_wine_page
{
	display: none;
}










.wine_guage
{
	width: 437px;
	height: 159px;
	background-position: 0px 0px;
	position: absolute;
	left: 67px;
	bottom: 99px;
}
.wine_guage .sweetness span,
.wine_guage .weight span
{
	display: none;
}

.wine_guage .sweetness
{
	width: 43px;
	height: 38px;
	background-position: -437px -28px;
	position: absolute;
	top: 28px;
	left: 96px;
}

.wine_guage .sweetness.val_1 { left: 96px; }
.wine_guage .sweetness.val_2 { left: 147px; }
.wine_guage .sweetness.val_3 { left: 199px; }
.wine_guage .sweetness.val_4 { left: 250px; }
.wine_guage .sweetness.val_5 { left: 301px; }

.wine_guage .weight
{
	width: 38px;
	height: 36px;
	background-position: -437px -96px;
	position: absolute;
	top: 96px;
	left: 101px;
}

.wine_guage .weight.val_1 { left: 101px; }
.wine_guage .weight.val_2 { left: 152px; }
.wine_guage .weight.val_3 { left: 203px; }
.wine_guage .weight.val_4 { left: 254px; }
.wine_guage .weight.val_5 { left: 305px; }


.selection_area
{
	width: 900px;
	height: 540px;
	position: absolute;
	left: 73px;
	top: 114px;

	visibility: hidden;
	opacity: 0;
}

.wine_selection_page_1.show .selection_area
{
	visibility: visible;
	opacity: 1;
}


.selection_area .section_2
{
	opacity: 0;
	visibility: hidden;

	-webkit-transition-property: -webkit-transform, opacity;
  	-webkit-transition-duration: 0s, 0.8s;
  	-webkit-transition-delay: 0.8s, 0s;
	-webkit-transform: rotate(0deg) translate(-2000px, 0px) scale(1) translateZ(0px);
  
}

.selection_area .section_2.show
{
	opacity: 1;
	visibility: visible;

	-webkit-transition-property: -webkit-transform, opacity;
  	-webkit-transition-duration: 0s, 0.8s;
  	-webkit-transition-delay: 0s, 0s;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.selector_button
{
	width: 198px;
	height: 96px;
	background-position: 0px -596px;
	position: absolute;
	text-align: center;
	cursor: pointer;
	visibility: visible;
	opacity: 1;
}

.selector_button.NA
{
	opacity: 0.2;
}

.selector_button.double_width
{
	width: 268px;
	background-position: -207px -597px;
}

.selector_button.hide
{
	visibility: hidden;
	opacity: 0;
}

.selector_button:active:after
{
	content: "";
	position: absolute;
	z-index: 9;
	top: 3px;
	bottom: 0px;
	right: 0px;
	left: 0px;

	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 0 25px black;
}

.selector_button .click_region
{
	position: absolute;
	top: 3px;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0px;
	cursor: pointer;

	-webkit-border-radius: 20px;
}

.selector_button .text
{
	display: block;
	position: absolute;
	top: 38px;
	left: 0px;
	width: 100%;

	font-family:"stRyde-bold";

	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 0.94;
	color: #262223;
	margin: 0px;
	display: block;

	/*letter-spacing: 1px;*/

	-webkit-font-smoothing: antialiased;
}

.selector_button.double_width .text
{
	font-size: 32px;
	line-height: 0.94;
	margin-top: -13px;
	margin-left: -2px;
}

.selector_button .close_icon
{
	width: 63px;
	height: 63px;
	position: absolute;
	top: -19px;
	right: -28px;
	background-position: -927px -78px;
	z-index: 11;
	visibility: hidden;
	opacity: 0;
}

.selector_button.current .close_icon
{
	visibility: visible;
	opacity: 1;
}

.selector_button .close_icon:active:after
{
	content: "";
	position: absolute;
	z-index: 12;
	top: 0px;
	bottom: 2px;
	right: 0px;
	left: 0px;

	-webkit-border-radius: 35px;
	-webkit-box-shadow: inset 0 0 25px black;
}

.chalk
{
	font-family:"dearJoe";
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 0.94;
	color: white;
	margin: 0px;
	display: block;

	/*letter-spacing: 1px;*/

	-webkit-font-smoothing: antialiased;
}

.chalk.intro_1
{
	position: absolute;
	display: block;
	margin-top: 31px;
	margin-left: 1px;
	 -webkit-transform: rotate(-1deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.chalk.intro_1.position_2
{
	 -webkit-transform: rotate(-1deg) translate(197px, 0px) scale(1) translateZ(0px);
}


.chalk.intro_2
{
	position: absolute;
	display: block;
	top: 231px;
	visibility: visible;
	opacity: 1;

	margin-left: 2px;
	 -webkit-transform: rotate(-1deg) translate(0px, 0px) scale(1) translateZ(0px);
}

.chalk.intro_2.hide
{
	visibility: hidden;
	opacity: 0;
}

.choice_red
{
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg) translate(0px, 86px) scale(1) translateZ(0px);
}

.choice_white
{
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg) translate(221px, 86px) scale(1) translateZ(0px);
}

.choice_white.current
{
	-webkit-transition-delay: 0.5s;
	-webkit-transform: rotate(0deg) translate(0px, 86px) scale(1) translateZ(0px);
}

.choice_sparkling_champagne
{
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg) translate(442px, 86px) scale(1) translateZ(0px);
}

.choice_sparkling_champagne.current
{
	-webkit-transition-delay: 0.5s;
	-webkit-transform: rotate(0deg) translate(0px, 86px) scale(1) translateZ(0px);
}



.choice_10_20
{
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg) translate(0px, 285px) scale(1) translateZ(0px);
}

.choice_20_30
{
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg) translate(221px, 285px) scale(1) translateZ(0px);
}

.choice_30_50
{
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg) translate(441px, 285px) scale(1) translateZ(0px);
}

.choice_50_100
{
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg) translate(0px, 395px) scale(1) translateZ(0px);
}



.section_1 .selector_button.current.position_2
{
	-webkit-transition-delay: 0s;
	-webkit-transform: rotate(0deg) translate(195px, 86px) scale(1) translateZ(0px);
}

.section_1 .selector_button.double_width.current.position_2
{
	-webkit-transition-delay: 0s;
	-webkit-transform: rotate(0deg) translate(125px, 86px) scale(1) translateZ(0px);
}

.section_2 .selector_button.current
{
	-webkit-transition-delay: 0s;
	-webkit-transform: rotate(0deg) translate(435px, 86px) scale(1) translateZ(0px);
}














.wine_filter_gallery .panel
{
	display: none;
}


.wine_filter_gallery.filter_red.filter_10_20 .panel.filter_red.filter_10_20,
.wine_filter_gallery.filter_red.filter_20_30 .panel.filter_red.filter_20_30,
.wine_filter_gallery.filter_red.filter_30_50 .panel.filter_red.filter_30_50,
.wine_filter_gallery.filter_red.filter_50_100 .panel.filter_red.filter_50_100,

.wine_filter_gallery.filter_white.filter_10_20 .panel.filter_white.filter_10_20,
.wine_filter_gallery.filter_white.filter_20_30 .panel.filter_white.filter_20_30,
.wine_filter_gallery.filter_white.filter_30_50 .panel.filter_white.filter_30_50,
.wine_filter_gallery.filter_white.filter_50_100 .panel.filter_white.filter_50_100,

.wine_filter_gallery.filter_sparkling_champagne.filter_10_20 .panel.filter_sparkling_champagne.filter_10_20,
.wine_filter_gallery.filter_sparkling_champagne.filter_20_30 .panel.filter_sparkling_champagne.filter_20_30,
.wine_filter_gallery.filter_sparkling_champagne.filter_30_50 .panel.filter_sparkling_champagne.filter_30_50,
.wine_filter_gallery.filter_sparkling_champagne.filter_50_100 .panel.filter_sparkling_champagne.filter_50_100
{
	display: block;
}







.form_div
{
	width: 883px;
	height: 604px;
	left: 70px;
	top: 119px;
	background-color: #DEDEDE;
	position: absolute;
	border-radius: 30px;

	/*-webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;*/
}

.form_div.field_focus
{
	border-radius: 0px;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 768px;

	/*-webkit-user-modify: read-write-plaintext-only;*/

	/*-webkit-transition-property: -webkit-transform, border-radius, left, top, width, height;
  	-webkit-transition-duration: 0.8s, 0.8s, 0.8s, 0.8s, 0.8s, 0.8s;
  	-webkit-transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) width(1024px) translateZ(0px);*/
}

.form_div .input.full
{
	width: 850px;
	height: 100px;
	position: relative;
	left: 20px;
}

.form_div .input.quarter
{
	width: 850px;
	height: 100px;
	position: relative;
	left: 20px;
}

.form_div .input
{
	/*-webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);*/
}

.form_div .input.first
{
	margin-top: 86px;
}

.form_div.field_focus .input
{
	/*-webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;
	visibility: hidden;
	opacity: 0;*/
}

.form_div.field_focus .input.first
{
	/*visibility: visible;
	opacity: 1;*/

	/*margin-top: 16px;*/
	margin-top: 105px;
	/*-webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(-0px, -70px) scale(1) translateZ(0px);*/
}

.form_div.field_focus .input.second
{
	/*visibility: visible;
	opacity: 1;*/
	
	/*-webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(-0px, -70px) scale(1) translateZ(0px);*/
}

.form_div.field_focus .input.third
{
	/*visibility: visible;
	opacity: 1;*/

	margin-top: 97px;

	/*-webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(-0px, 28px) scale(1) translateZ(0px);*/
}

.form_div label
{
	font-family:"FuturaStd-book";
	font-style: normal;
	font-weight: 200;
	font-size: 35px;
	line-height: 1;
	color: #3c393c;
	margin: 0px;

	position: absolute;
	display: block;
	left: 31px;
	top: 24px;

	-webkit-font-smoothing: antialiased;
}



.form_div input[type="text"],
.form_div input[type="email"]
{
	background-color: white;
	width: 554px;
	height: 77px;
	border: 2px solid #b9bbbf;
	border-radius: 21px;
	box-shadow: 0px 1px 0px white;
	position: absolute;
	left: 202px;
	padding-left: 23px;
	outline: none;

	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 37px;
	color: #707070;

	-webkit-touch-callout: text;
      -webkit-user-select: text;
       -khtml-user-select: text;
         -moz-user-select: text;
          -ms-user-select: text;
              user-select: text;

    cursor: auto;

   /* -webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);*/

	-webkit-user-modify: read-write-plaintext-only;
}

.form_div .input.first.in_focus input[type="text"],
.form_div .input.second.in_focus input[type="text"]
{
	/*-webkit-transform: rotate(0deg) translate(-28px, 0px) scale(1) scaleX(0.8) translateZ(0px);*/
}


.form_div .input.quarter input[type="text"]
{
	width: 162px;
	height: 75px;
}

.form_div input[type="submit"]
{
	width: 191px;
	height: 83px;
	display: block;
	position: absolute;
	left: 200px;
	bottom: 4px;
	border: none;
	background-color: transparent;
	background-image: url(../img/wine_selector_sprite.png);
	background-repeat: no-repeat;
	background-position: -171px -732px;

	font-family:"stRyde-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 35px;
	line-height: 2.54;
	color: white;
	margin: 22px;

	text-shadow: 0px -2px 0px #558597;

	-webkit-font-smoothing: antialiased;

	/*-webkit-transition-property: -webkit-transform;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);*/
}

.form_div.field_focus input[type="submit"]
{
	/*-webkit-transition-property: -webkit-transform;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(390px, -345px) scale(1) translateZ(0px);*/
	left: 590px;
	/*bottom: 350px;*/
	bottom: 261px;
}

.form_div input[type="submit"]:active
{
	background-position: -171px -819px;
}


.form_div input#email_part_1
{
	width: 244px;
	text-align: right;
	padding-right: 9px;
}

.form_div input#email_part_2
{
	width: 233px;
	left: 537px;
	padding-left: 9px;
}

.form_div .atSymbol
{
	width: 41px;
	height: 83px;
	display: block;
	position: absolute;
	left: 492px;
	top: -12px;

	font-family:"stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 42px;
	line-height: 2.54;
	color: #707070;

	-webkit-font-smoothing: antialiased;
}


.form_div .date_select_tool
{
	width: 850px;
	height: 100px;
	position: absolute;
	left: 20px;
	top: 384px;

	/*-webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);*/
}

.form_div.field_focus .date_select_tool
{
	/*-webkit-transition-property: all;
  	-webkit-transition-duration: 0.8s;
	-webkit-transform: rotate(0deg) translate(0px, -168px) scale(1) translateZ(0px);*/
	left: 20px;
	/*top: 216px;*/
	top: 305px;
}

.customStyleSelectBox
{
	background-color: white;
	width: 163px;
	height: 77px;
	border: 2px solid #b9bbbf;
	border-radius: 21px;
	box-shadow: 0px 1px 0px white;
	position: absolute;
	left: 202px;
	padding-left: 23px;
	outline: none;

	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 37px;
	color: #707070;

	-webkit-touch-callout: text;
      -webkit-user-select: text;
       -khtml-user-select: text;
         -moz-user-select: text;
          -ms-user-select: text;
              user-select: text;

    cursor: auto;
}


.customStyleSelectBox.select_num_1
{
	left: 403px;
}

.customStyleSelectBox.select_num_2
{
	left: 603px;
	width: 152px;
}

.customStyleSelectBox select
{
	width: 190px;
	z-index: 9;
	height: 77px;
	position: absolute;
	left: 0px;
	top: 0px;
	min-height: 77px;
	cursor: pointer;
	display: block;
}

.customStyleSelectBox span.customStyleSelectBoxInner
{
	font-size: 15px;
	line-height: 15px;
	color: #37422f;
	font-family: "stRyde-regular";
	font-style: normal;
	font-weight: 200;
	font-size: 37px;
	color: #707070;
	position: relative;
	top: 19px;
	left: 2px;
}

.customStyleSelectBox .select_ui_element
{
	background-image: url(../img/wine_selector_sprite.png);
	background-repeat: no-repeat;
	background-position: -724px -7px;
	width: 27px;
	height: 24px;
	position: absolute;
	right: 21px;
	top: 27px;
}



.close_keyboard,
.next_field
{
	width: 90px;
	height: 83px;
}

.close_keyboard
{
	background-position: -91px -905px;
	position: absolute;
	top: 312px;
	right: -1000px;

	opacity: 0;
	/*-webkit-transition-property: opacity, right;
	-webkit-transition-delay: 0s, 0.3s; 
  	-webkit-transition-duration: 0.3s, 0s;*/
}

.field_focus .close_keyboard
{
	right: 30px;
	/*opacity: 1;*/

	/*-webkit-transition-property: opacity, right;
	-webkit-transition-delay: 0.8s, 0s; 
  	-webkit-transition-duration: 0.8s, 0s;*/
}

.close_form
{
	width: 75px;
	height: 75px;
	background-position: -921px 0px;
	position: absolute;
	top: -24px;
	right: -21px;

	/*opacity: 1;*/

	/*-webkit-transition-property: opacity, right;
	-webkit-transition-delay: 0.8s, 0s; 
  	-webkit-transition-duration: 0.8s, 0s;*/
}

.field_focus .close_form
{
	/*right: -1000px;*/
	top: 20px;
	right: 37px;


	/*opacity: 0;*/

	/*-webkit-transition-property: opacity, right;
	-webkit-transition-delay: 0s, 0.3s; 
  	-webkit-transition-duration: 0.3s, 0s;*/
}






.meet_matt_page_white
{
	background-color: white;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 93px;
	-webkit-box-shadow: 0px -5px 5px black;
}

.about_matt_paragraph_section
{
	position: relative;
	margin-top: 24px;
	left: 77px;
}

.about_matt_paragraph_section.first
{
	margin-top: 144px;
}

.about_matt_paragraph_section .heading
{
	font-family: "FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 27px;
	line-height: 1;
	color: #363636;
	margin: 0px;
	width: 640px;

	position: relative;
	display: block;
	
	text-align: left;

	-webkit-font-smoothing: antialiased;
}

.about_matt_paragraph_section .copy
{
	font-family:"FuturaStd-book";
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 1.34;
	color: #363636;
	margin: 0px;
	top: 2px;
	position: relative;
	display: block;
	width: 590px;

	-webkit-font-smoothing: antialiased;
}

.about_matt_paragraph_section.first .copy
{
	width: 640px;
}


.matt_quote
{
	position: absolute;
	left: 77px;
	top: 575px;
}

.matt_quote .heading
{
	font-family:"dearJoe";
	font-style: normal;
	font-weight: 500;
	font-size: 37px;
	line-height: 1.33;
	color: #363636;
	margin: 0px;
	display: block;
	width: 500px;

	/*letter-spacing: 1px;*/

	-webkit-font-smoothing: antialiased;
}


.matt_signature 
{
	width: 75px;
	height: 49px;
	background-position: -837px -85px;
	position: absolute;
	top: 118px;
	left: 404px;
}


#thanksDiv
{
	width: 1024px;
	height: 768px;
	background-color: gray;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 0px;

	z-index: 999;
}


#thanksDiv span
{
	font-family:"dearJoe";
	font-style: normal;
	font-weight: 500;
	font-size: 97px;
	line-height: 1.33;
	color: white;
	margin: 0px;
	display: block;
	width: 500px;

	position: absolute;
	top: 210px;
	left: 262px;

	-webkit-font-smoothing: antialiased;
}










.choices
{
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.choices .cancel
{
	width: 180px;
	height: 76px;
	-webkit-border-radius: 18px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,rgba(0,0,0,1)), color-stop(41%,rgba(17,17,17,1)), color-stop(62%,rgba(43,43,43,1)), color-stop(100%,rgba(19,19,19,1)));
	border: 2px solid black;
	margin: 10px 0px 0px 10px;
	float: left;
	position: relative;
	cursor: pointer;
}

.choices .set
{
	width: 180px;
	height: 76px;
	-webkit-border-radius: 18px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,rgba(0,0,0,1)), color-stop(41%,rgba(17,17,17,1)), color-stop(62%,rgba(43,43,43,1)), color-stop(100%,rgba(19,19,19,1)));
	border: 2px solid black;
	margin: 10px 0px 0px 10px;
	float: left;
	position: relative;
	cursor: pointer;
}

.choices .cancel span,
.choices .set span
{
	font-family:"FuturaStd-bold";
	font-style: normal;
	font-weight: 200;
	font-size: 25px;
	line-height: 1;
	color: white;
	margin: 0px;
	text-align: center;
	position: relative;
	top: 28px;

	-webkit-font-smoothing: antialiased;
}


#dayPickeriScroll,
#monthPickeriScroll,
#yearPickeriScroll
{
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 100px;
}



#dayPicker,
#monthPicker,
#yearPicker
{
	width: 1024px;
	height: 768px;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	z-index: 995;
}

#dayPicker .ui_element,
#monthPicker .ui_element,
#yearPicker .ui_element
{
	width: 400px;
	height: 710px;
	background-color: gray;
	border: 1px solid black;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 22px;
	-webkit-box-shadow: 0 0 75px black;
	z-index: 996;
}

#dayPicker .day,
#monthPicker .month,
#yearPicker .year
{
	width: 400px;
	height: 60px;
	background-color: whiteSmoke;
	position: relative;
}
#dayPicker .day:nth-child(odd),
#monthPicker .month:nth-child(odd),
#yearPicker .year:nth-child(odd)
{
	background-color: white;
}

#dayPicker .day.selected,
#monthPicker .month.selected,
#yearPicker .year.selected
{
	background-color: #85d0ea;
}

#dayPicker .day span,
#monthPicker .month span,
#yearPicker .year span
{
	font-family:"FuturaStd-book";
	font-style: normal;
	font-weight: 200;
	font-size: 35px;
	line-height: 1;
	color: #3c393c;
	margin: 0px;

	position: absolute;
	display: block;
	width: 380px;
	left: 0px;
	top: 15px;
	text-align: center;

	-webkit-font-smoothing: antialiased;
}




.dw.dwbg 
{
	left: 282px !important;
	top: 160px !important;
	position: absolute;
}


.background_note
{
	width: 647px;
	height: 308px;
	position: absolute;
	left: 270px;
	top: 13px;
	background-image: url(../img/speech_bubble.png);
	background-repeat: no-repeat;
}




/*@-webkit-keyframes "quoteshift" {
 0% {
   opacity: 0;
 }
 2% {
   opacity: 1;
 }
 48% {
   opacity: 1;
 }
 50% {
   opacity: 0;
 }
 100% {
   opacity: 0;
 }
}*/


@-webkit-keyframes "quoteshift_two" {
 0% {
   opacity: 0;
   -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
 }
 2% {
   opacity: 1;
   -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
 }
 47% {
   opacity: 1;
   -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
 }
 49% {
   opacity: 0;
   -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
 }
 50% {
   opacity: 0;
   -webkit-transform: rotate(0deg) translate(-512px, 0px) scale(1) translateZ(0px);
 }
 52% {
   opacity: 1;
   -webkit-transform: rotate(0deg) translate(-512px, 0px) scale(1) translateZ(0px);
 }
 97% {
   opacity: 1;
   -webkit-transform: rotate(0deg) translate(-512px, 0px) scale(1) translateZ(0px);
 }
 99% {
   opacity: 0;
   -webkit-transform: rotate(0deg) translate(-512px, 0px) scale(1) translateZ(0px);
 }
 100% {
   opacity: 0;
   -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
 }
}





@-webkit-keyframes "arrowanimation" {
 0% {
   -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
 }
 50% {
   -webkit-transform: rotate(0deg) translate(0px, -17px) scale(1) translateZ(0px);
 }
 100% {
   -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1) translateZ(0px);
 }
}

@-webkit-keyframes "arrowanimation_2" {
 0% {
   -webkit-transform: rotate(-2deg) translate(0px, 0px) scale(0.7) translateZ(0px);
 }
 100% {
   -webkit-transform: rotate(-5deg) translate(0px, -50px) scale(0.04) translateZ(0px);
 }
}

.animation_background
{
	width: 107px;
	height: 111px;
	position: absolute;
	left: 577px;
	top: 268px;
	background-image: url(../img/green_arrow.png);
	background-repeat: no-repeat;
	z-index: 8;

	-webkit-animation: arrowanimation 1.2s 0s infinite ease-in-out;
}

.animation_background.hide
{
	-webkit-animation: arrowanimation_2 0.2s 0s;
	-webkit-transform: rotate(-5deg) translate(0px, -50px) scale(0.04) translateZ(0px);
}

.device_cant_handle_keyframe_timing
{
	width: 512px;
	height: 270px;
	position: absolute;
	left: 100px;
	top: 20px;
	overflow: hidden;
}

.wrap_notes
{
	width: 1024px;
	height: 270px;
	position: absolute;
	left: 0px;
	top: 0px;

	opacity: 0;

	
}

.background_note.playback .wrap_notes
{
	-webkit-animation: quoteshift_two 8s 0s infinite linear;
}


.background_note .note_1,
.background_note .note_2
{
	font-family:"dearJoe";
	font-style: normal;
	font-weight: 500;
	font-size: 87px;
	line-height: 1.1;
	text-align: center;
	color: white;
	margin: 0px;
	display: block;
	width: 500px;

	position: absolute;
	top: 52px;
	left: 14px;

	-webkit-font-smoothing: antialiased;

}

.background_note .note_1
{
	top: 98px;
}

.background_note .note_2
{
	left: 526px;
}

/*.background_note.playback .note_1
{
	-webkit-animation: quoteshift 8s 0s infinite linear;
}

.background_note.playback .note_2
{
	-webkit-animation: quoteshift 8s 4s infinite linear;
}
*/





















/* ==|== media queries ====================================================== 



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}





@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 768px) {

}




/*======================= APPLY LAST ===========================<*/


 









/*======================= NON GENERIC ===========================<*/


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/* ==|== print styles ======================================================= */
 
/*@media screen {*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  




} /* end media print */


























